@using BitirmeProj.Data
@using BitirmeProj.Utilities
@using System.Security.Claims
@using BitirmeProj.Services;


@model IEnumerable<BitirmeProj.Models.JobListing>


@{
    User currentUser = ViewBag.CurrentUser;
    List<int> appliedJobIds = ViewBag.AppliedJobIds ?? new List<int>();

}
@inject ApplicationDBContext _context // Inject ApplicationDBContext into the view

@foreach (var item in Model)
{
    var postedByFullName = UserService.GetUserFullName(item.PostedBy, _context);
    bool postedByCurrentUser = item.PostedBy == currentUser.UserID;
    var postedByInstitution = UserService.GetUserInstitution(item.PostedBy, _context); // Assuming this method exists
    bool hasApplied = appliedJobIds.Contains(item.JobID);

    <div class="job-card">
        <p><strong>Posted by:</strong> @postedByInstitution </p>
        <h2>@Html.DisplayFor(modelItem => item.JobTitle)</h2>
        <p><strong>Location:</strong> @Html.DisplayFor(modelItem => item.JobLocation)</p>
        <p><strong>Application Deadline:</strong> @Html.DisplayFor(modelItem => item.ApplicationDeadline)</p>

        <div class="job-details">
            <p><strong>Description:</strong></p>
            <div class="description-limit">
                @Html.Raw(item.JobDescription)
            </div>
            <p class="read-more-btn">Read More</p>
        </div>

        @if (postedByCurrentUser)
        {
            <button type="button" class="btn btn-primary" onclick="editJob(@item.JobID)">Edit</button>
        }
        <form id="applyForm" method="post" action="/Home/CreateApplication">
            <input type="hidden" id="jobID" name="jobID" value="">
        </form>
        @if (!postedByCurrentUser)
        {
            <button type="button" class="btn btn-success" onclick="applyJob('@item.JobID')" @(hasApplied ? "disabled" : "")>Apply</button>
        }
    </div>
}
