@model IEnumerable<BitirmeProj.Models.Job>

@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />


<main class="centered-content">

    <h3>Research Job</h3>
    <section class="job-filters">

        <form asp-action="Index" method="get">
            <div class="form-action no-color">
                <p>
                    Title/Description:<input type="text" name="titleString" value="@ViewData["TitleFilter"]"/>
                    Location:<input type="text" name="locationString" value="@ViewData["LocationFilter"]" />
                    <input type="submit" value="Search" class="btn btn-success"/>
                    <a asp-action="Index">Back to Full List </a>
                </p>
            </div>
        </form>
    </section>
    
    <button class="add-job-btn" onclick="openPopup()">Post a Job</button>


    <section class="job-order">
        <a asp-action="Index" asp-route-sortOrder="@ViewData["TitleSortParam"]">
            Order By Title
        </a>
        <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParam"]">
            Order By Date
        </a>

    </section>
    
    <section class="job-listings">
     
         @foreach (var item in Model)
        {
            <div class="job-card">
                <h2>
                   @Html.DisplayFor(modelItem => item.Title)
                </h2>
                <p>
                    @Html.DisplayFor(modelItem => item.Description)
                </p>
                <a href="#" class="edit-btn" onclick="viewDetail(1)">View Detail</a>
                <a href ="#" class= "submit-btn" onclick = "applyJob()"> Apply Job</a>
            </div>
        }
    </section>

    
    <div class="overlay" id="overlay"></div>

    <div class="popup" id="popup-form">
        <h2>Post a New Job</h2>
        <form action="Home/PostJob" method="POST" id="job-form">
            <!-- Fields with unique IDs -->
            <div id="field-1">
                <label for="job-title">Job Title:</label>
                <input type="text" id="job-title" name="job-title" required>
            </div>

            <div id="field-2" style="display: none;">
                <label for="institution">Job Location:</label>
                <input type="text" id="job-location" name="job-location" required>
            </div>

            <div id="field-3" style="display: none;">
                <label for="department">Job Type:</label>
                <input type="text" id="job-type" name="job-type" required>
            </div>

            <div id="field-4" style="display: none;">
                <label for="description">Job Description:</label>
                <textarea id="description" name="description" rows="4" required></textarea>
            </div>

            <div id="field-5" style="display: none;">
                <label for="requirements">Skills:</label>
                <textarea id="skills" name="skills" rows="4" required></textarea>
            </div>

            <div id="field-6" style="display: none;">
                <label for="requirements">Questions:</label>
                <textarea id="questions" name="questions" rows="4" required></textarea>
            </div>
     
         
            <button type="button" id="back-btn" onclick="goToPreviousField()" style="display: none;">Back</button>
            <button type="button" id="next-btn" onclick="goToNextField()">Next</button>
            <button type="submit" id="submit-btn" action="Home/PostJob" style="display: none;">Submit</button>
        </form>
        <button class="close-btn" onclick="closePopup()">Close</button>
    </div>

    <div class="overlay" id="overlay"></div>
    <div class="popup" id="popup-detail">
        <h2>Job Details</h2>
        <div id="job-details">
            <h2></h2>
            <p></p>
        </div>
        <button class="close-btn" onclick="closePopupDetail()">Close</button>
    </div>

    

    <script src="~/js/home.js" asp-append-version="true"></script>

</main>

